.legend {

    display: flex;

    flex-direction: column;

    gap: var(--docs-space-xl);

}

.card {

    height: 100%;

}

.header {

    margin-bottom: .75rem;

}

.description {

    margin: 0;

    color: var(--ifm-color-emphasis-700);

    line-height: var(--docs-line-height);

}