.output {

    display: flex;

    flex-direction: column;

    gap: var(--docs-space-2xl);

}

.item {

    display: flex;

    flex-direction: column;

    gap: 1rem;

}

.description {

    color: var(--ifm-color-emphasis-700);

    line-height: var(--docs-line-height);

}