.options {
  margin: var(--docs-space-2xl) 0;
}

.header {
  display: flex;

  justify-content: space-between;

  align-items: center;

  gap: 1rem;

  flex-wrap: wrap;
}

.option,
.short {
  padding: 0.3rem 0.6rem;

  border-radius: var(--docs-radius-sm);

  background: var(--ifm-code-background);

  font-weight: 600;
}

.short {
  margin-left: 0.5rem;
}

.description {
  line-height: var(--docs-line-height);
}

.footer {
  display: flex;

  gap: 2rem;

  flex-wrap: wrap;

  margin-top: 1rem;
}

.footer code {
  margin-left: 0.5rem;
}
