/**
 * ============================================================================
 * Animation
 * ============================================================================
 */

.docs-fade {
  animation: docsFade 0.25s ease;
}

@keyframes docsFade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
