/**
 * ============================================================================
 * Utilities
 * ============================================================================
 */

.docs-full-width {
  width: 100%;
}

.docs-text-center {
  text-align: center;
}

.docs-overflow-auto {
  overflow: auto;
}
