.list {
  display: flex;

  flex-direction: column;

  gap: var(--docs-space-xl);
}

.items {
  margin: 0;

  padding: 0;

  list-style: none;
}

.item {
  padding: 1rem 0;

  border-bottom: 1px solid var(--ifm-toc-border-color);
}

.item:last-child {
  border-bottom: none;
}

.header {
  display: flex;

  align-items: center;

  gap: 0.75rem;

  margin-bottom: 0.5rem;
}

.icon {
  display: flex;

  align-items: center;
}

.title {
  font-weight: 600;
}

.description {
  color: var(--ifm-color-emphasis-700);

  line-height: var(--docs-line-height);
}
